<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    firebaseNotification-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <uses-permission android:name="android.permission.INTERNET" />
    <!--    Http 보안 정책-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


<!--    화면 깨우기-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>



    <!--    지문 권한-->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!--    생체 정보 권한-->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />


    <!--    갤러리 및 사진 촬영 저장-->
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->

    <!--    android:name -> background에서 foreground 처리할려고-->
    <application
        android:name=".LifecycleChecker"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTest2024"
        android:usesCleartextTraffic="true"
        tools:ignore="Instantiatable"
        tools:targetApi="31">


        <!--        갤러리 및 카메라 provider 설정-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mytest2024.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

<!--        Firebase-->
        <service
            android:name=".firebase.PushService"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/firebase_notification_channel_id" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />


        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.mytest2024.RecyclerView.RecyclerViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.LetterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.FreeTalkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.BoardDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.FamilyEventActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.BoardDetailFamilyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.SurveyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.SurveyDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.LetterDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.mytest2024.SettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>